pywhatkit==5.0
pyautogui==0.9.52
pyttsx3==2.90
SpeechRecognition==3.8.1
colorama==0.4.4
google==3.0.0
wikipedia==1.4.0
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
idna>=3.7 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=9.2.0 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.31.0 # not directly required, pinned by Snyk to avoid a vulnerability